.text1 {
    text-align: center;
    background-color: #6a6e8c;
    color: #efd97d;
}

main {
    background-color: #a3acab;
    padding: 1em;
}

body {
    background-image: url("record.png");
    background-repeat: repeat;
    margin: 0;

}